<form>
    성명 : <input type="text" name="name"></input> <br>
    카카오 계정 : <input type="text" name="email"></input> <br>
    비밀번호 : <input type="text" name="password"></input> <br>
    프로필 사진 : <input type="text" name="profile_pic"></input> <br>
    <button>저장하기</button>
</form>